name: Test
on:
  push:

env:
  TERMINUS_TOKEN: ${{ secrets.TERMINUS_TOKEN }}

jobs:
  unit:
    runs-on: ubuntu-latest
    container:
      image: quay.io/pantheon-public/terminus-plugin-test:4.x-php8.0
      options: --user root
    name: Unit Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: composer install
      - name: Unit Tests
        run: composer test
  terminus-3:
    needs: unit
    runs-on: ubuntu-latest
    container:
      image: quay.io/pantheon-public/terminus-plugin-test:4.x-php8.0
      options: --user root
    name: Terminus 3 Functional Tests
    env:
      TERMINUS_SITE: terminus-addons-installer-plugin
      TERMINUS_TOKEN: ${{ secrets.TERMINUS_TOKEN }}
      BUILD_NUM: ${{ github.run_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install SSH key
        uses: webfactory/ssh-agent@d4b9b8ff72958532804b70bbe600ad43b36d5f2e
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
          log-public-key: false
      - name: Set up environment
        run: ./.bin/setup.sh
      - name: Install plugin
        run: |
          terminus self:plugin:install ${GITHUB_WORKSPACE}
          composer install
      - name: Functional Tests
        run: composer functional
      - name: Cleanup
        if: always()
        run: ./.bin/cleanup.sh
  code-style:
    name: Code Style
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.4, 8.3]
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: composer install
      - name: Code Style
        run: composer lint